<%- include("../partials/header.ejs", {user}) %>
<main class="p-4">
  <div class="w-auto">
    <h1 class="font-bold text-xl text-slate-600 drop-shadow-md">
      Inicia sesión!
    </h1>
  </div>
  <form
    action="/auth/login"
    method="post"
    class="flex flex-col gap-4 w-full p-8 md:w-1/2"
  >
    <div class="flex flex-col gap-2">
      <label for="username" class="font-bold">Nombre de usuario</label>
      <input
        type="text"
        class="py-1 px-2 border border-slate-200 focus:ring-1 focus:ring-slate-400"
        id="username"
        name="username"
        placeholder="Nombre de usuario"
      />
    </div>
    <div class="flex flex-col gap-2">
      <label for="password" class="font-bold">Contraseña</label>
      <input
        type="password"
        class="py-1 px-2 border border-slate-200 focus:ring-1 focus:ring-slate-400"
        id="password"
        name="password"
        placeholder="Contraseña"
        pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
      />
    </div>
    <div class="w-full flex justify-end">
      <button
        class="px-4 py-2 text-slate-50 bg-blue-700 hover:bg-blue-800 transition-color rounded font-bold"
      >
        Crear!
      </button>
    </div>
  </form>
</main>
<%- include("../partials/footer.ejs") %>
